* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url('bg.jpg') no-repeat center center/cover;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

nav:hover {
    background-color: lightsteelblue; 
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    z-index: 1;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
    color: #ff3333;
    background-color: rgba(255, 255, 255, 0.1);
}

nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #4f1919, #ff3333);
    border-radius: 8px;
    transition: 0.5s;
}

nav a:nth-child(1):hover~span {
    left: 0;
}

nav a:nth-child(2):hover~span {
    left: 95px;
}

nav a:nth-child(3):hover~span {
    left: 189px;
    width: 110px;
}

nav a:nth-child(4):hover~span {
    left: 289px;
    width: 115px;
}

nav a:nth-child(5):hover~span {
    left: 413px;
    width: 110px;
}

.content {
    margin-top: 100px;
    text-align: center;
    color: black;
    padding: 20px;
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    nav a {
        padding: 10px;
        font-size: 0.9em;
    }
    
    nav span {
        display: none;
    }
}
